MONGODB_URL=mongodb+srv://user:pass@inmobot-prod.aaqrpic.mongodb.net/
MONGODB_DB=inmogen_prod

API_BASE_URL=https://api.inmogen-ia.com
STATIC_DIR=/opt/inmogen/backend/static

APIFY_TOKEN=68IfRFNgKvDoXP6q

CLOUDINARY_CLOUD_NAME=your_cloud
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret

STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...

CLERK_SECRET_KEY=sk_live_...
CLERK_PUBLISHABLE_KEY=pk_live_...
